a{text-decoration:none; color:#000;}
body{margin:0;padding:0;background-color:#F6F6F6;}
ul{list-style:none;margin:0;padding:0;}
.container{margin: 0 auto;width:1200px;}
address, cite, dfn, em, var, i {font-style: normal;}

.header{
    width:100%;height:30px;
    background-color:#F6F6F6;
    margin:0px;
    .header-ul{
        width:550px;
        height:100%;
        float:right;
        margin:0;
        margin-right:40px;
        padding:0px;
        li{
            float:left;
            margin-left: 20px;
            line-height: 30px;
            font-size: 12px;
            a:hover{
                color:#FF464E;
            }
        }
        .mycar{
            position: relative;
            z-index: 101;
            width: 107px;
            height: 30px;
            .bag-a {
                position: absolute;
                width: 107px;
                display: block;
                top: 2px;
                left: 0;
                text-align: center;
                z-index: 15;
                margin-left: 0;
                .icon-bag {
                    background:url(../img/instrument/icon-total.png) no-repeat 0 0;
                    position: relative;
                    background-position: 0 -156px;
                    width: 16px;
                    height: 18px;
                    float: left;
                    margin: 4px 8px 0 12px;
                }
                .f1{
                    float: left;
                    display: inline;
                }
                em {
                    background: none repeat scroll 0 0 #ff464e;
                    border-radius: 15px;
                    color: #fff;
                    display: inline;
                    font-family: "宋体";
                    height: 18px;
                    line-height: 18px;
                    margin: 3px 0 0 5px;
                    text-align: center;
                    width: 18px;
                    float: right;
                }
            }
        }
        .mycar:hover {
            background:#fff;
            border:1px solid #ccc;
        }
        
    }

}

.header_search{
    width:100%;height:126px;
    background-color:#fff;
    #search_top{
        width:100%;height:86px;
        position:relative;
        .search_top_1{
            width:800px;height:86px;
            background:url(../img/Logo/head.png);
            float: left;
            margin-left:108px;
        }
        .search_top_2{
            width:237px;height:35px;
            float: left;
            position:absolute;
            top:25px;
            right:120px;
            span{
                display: block;
                width: 200px;
                height: 35px;
                background: #efefef;
                float: left;
                input{
                    border: 0 none;
                    outline: 0 none;
                    background: #efefef;
                    width: 190px;
                    height: 30px;
                    line-height: 30px;
                    margin: 2px 0 0 10px;
                    color: #424251;
                    font-size: 12px;

                
                }
            }
            input{
                background-position: right -65px;
                border: 0 none;
                cursor: pointer;
                height: 35px;
                width: 37px;
                float:right;

                background:url(../img/instrument/search.png);
            }

        }
    }
    #search_bottom{
        width:100%;
        height: 38px;
        border-bottom: 2px solid #ff464e;
        .search_bottom_1{
            float: left;
            display: inline;
            margin-left:115px;
            li{
                float: left;
                display: inline;
                height: 38px;
                position: relative;
                z-index: 11;
                a{
                    float: left;
                    cursor: pointer;
                    padding: 10px 24px 0;
                    color: #333;
                    font-size: 14px;
                    height: 30px;
                }
                a:hover{
                    color:#fff;
                }
            }
            li:hover{
                background:  #ff464e;
                border-radius: 6px 6px 0 0;

            }
        }
    }
}

.main{
    margin-top: 30px;
    background: #fff;
    height:2000px;
    #main_main{
        padding-left:9px;
        li{
            width:232px;
            float: left;
            background: #fff;
            margin: 0 6px 12px 0;
            height: 290px;
            box-sizing: border-box;
            padding-top: 6px;
            
            
            .main_dv1{
                width:220px;
                height:220px;
                padding-left:5px;

            }
            .main_dv2{
                width:232px;
                height:32px;
                .main_dv2_span1{
                    color: #ff464e;
                    font-family: Arial;
                    font-size: 18px;
                }
                .main_dv2_span2{
                    margin: 2px 0 0 2px;
                    color: #666;
                    font-size: 14px;
                    text-decoration:line-through;
                }
            }
            
            h3{
                width:220px;
                height:18px;
                padding: 0 10px 0 10px;
                color: #333;
                margin:0 0 10px 0;
                font-size:12px;
            }
        }
        li:hover{
                border: 1px solid #A3A9B7;
            }
    }
}

.foot{
    height:390px;
    margin:0 auto;
    margin-top: 40px;
    background: #f9f9f9;
    border-top: #ff464e solid 4px;
    #foot_main{
        width:1100px;
        height:100%;
        padding: 0 50px;
        padding-bottom: 30px;
        color: #666;
        margin:0 auto;
        .foot_main_ul{
            padding-top: 25px;
            margin: 0 auto;
            height:161px;
            width:100%;
            li{
                height:140px;
                width:183px;
                float: left;
                h3{
                    margin:0px;
                    margin-bottom:5px;
                }
                li{
                    height:30px;
                    width:183px;
                    float: left;
                    font-size:14px;
                }
            }
        }
        .foot_main_dv1{
            height: 20px;
            overflow: hidden;
            padding: 10px 0px;            
            border-bottom: 1px dotted #ccc;
            color: #999999;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 auto;
            .foot_main_dv1_span1{float: left; font-size:13px;}
            .foot_main_dv1_span2{float:right; font-size:13px;}
            ul li{
                float: left;
                margin:0px 15px;
                font-size:12px;
            }   
        }
        .foot_main_p1{
            text-align: center;
            padding-top: 20px;
            color: #c6c6c6;
            font-size:12px;
        }
        .foot_main_p2{
            text-align: center;
            color: #c6c6c6;
            font-size:12px;
        }
        .foot_main_dv2{
            height:61.5px;
            color: #999999;
            text-align: center;
            padding-top: 10px;
            a{
                margin:0 10px;
            }
            
        }
    }
}

.car{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 36px;
    z-index: 102;
    background-color: #444;
    .normal-icon{
            display: block;
            background:url(../img/instrument/sidebar.png) no-repeat;
        }
        .normal {
            margin-top: 30px;
            position: relative;
        }

    .car_top{
        top: 60px;
        position: absolute;
        width:100%;
        height:275px;
        li:hover{
            background:red;
        }
        .li1{
            a{
                padding-top:4px;
            }
            .i-user{
                background-position: 0 0;
                width: 18px;
                height: 18px;
                margin-left: 9px;

            }
            
        }
        .li1:hover i{
                background-position: -26px 0;
            }
       
        .li2{
            margin-top: 15px;
            position: relative;
            border-top: #222 solid 1px;
            border-bottom: #222 solid 1px;
            padding:10px 0;
            a{
                text-decoration: none;
                color: #000;
            }
             .i-cart {
                height: 77px;
                width: 18px;
                background-position: 1px -24px;
                margin: 0 0 0 9px;
            }
            
            .num {
                background: #ff464e;
                border-radius: 15px;
                color: #fff;
                display: block;
                font-family: "宋体";
                height: 18px;
                line-height: 18px;
                width: 18px;
                text-align: center;
                margin: 5px 0 0 9px;
            }
        }
        .li2:hover i{
            background-position: -26px -24px;
        }
        .li2:hover .num{
           color: red;
           background-color:#fff;
        }
        .li3{
            .i-love{
                width: 18px;
                height: 18px;
                background-position: 0 -110px;
                margin: 0 0 0 9px;
            }
        }
        .li3:hover i{
            background-position: -26px -110px;
        }
        .li4{
            .i-quan {
                width: 18px;
                height: 18px;
                background-position: 0 -134px;
                margin: 0 0 0 9px;
            }
        }
         .li4:hover i{
            background-position: -26px -134px;
        }   
    }
    .car_bottom{
        width:36px;
        height:153px;
        position: absolute;
        bottom: 0;
        top: auto;
        li:hover{
            background:red;
        }
        .bottom1{
            .i-complain {
                width: 18px;
                height: 18px;
                background-position: 0 -208px;
                margin: 0 0 0 9px;
            }
        }
        .bottom1:hover i{
            background-position: -26px -208px;
        }
        .bottom2{
            .i-code{
                width: 18px;
                height: 18px;
                background-position: 0 -160px;
                margin: 0 0 0 9px;
            }
        }
        .bottom2:hover i{
            background-position: -26px -160px;
        }
        .bottom3{
            .i-backtop {
                width: 18px;
                height: 18px;
                background-position: 0 -187px;
                margin: 0 0 0 9px;
            }
        }
        .bottom3:hover i{
            background-position: -26px -187px;
        }
        
    }
}