@charset "UTF-8";
a {
  text-decoration: none;
  color: #000; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 1200px; }

address, cite, dfn, em, var, i {
  font-style: normal; }

.header {
  width: 100%;
  height: 30px;
  background-color: #F6F6F6;
  margin: 0px; }
  .header .header-ul {
    width: 550px;
    height: 100%;
    float: right;
    margin: 0;
    margin-right: 40px;
    padding: 0px; }
    .header .header-ul li {
      float: left;
      margin-left: 20px;
      line-height: 30px;
      font-size: 12px; }
      .header .header-ul li a:hover {
        color: #FF464E; }
    .header .header-ul .mycar {
      position: relative;
      z-index: 101;
      width: 107px;
      height: 30px; }
      .header .header-ul .mycar .bag-a {
        position: absolute;
        width: 107px;
        display: block;
        top: 2px;
        left: 0;
        text-align: center;
        z-index: 15;
        margin-left: 0; }
        .header .header-ul .mycar .bag-a .icon-bag {
          background: url(../img/instrument/icon-total.png) no-repeat 0 0;
          position: relative;
          background-position: 0 -156px;
          width: 16px;
          height: 18px;
          float: left;
          margin: 4px 8px 0 12px; }
        .header .header-ul .mycar .bag-a .f1 {
          float: left;
          display: inline; }
        .header .header-ul .mycar .bag-a em {
          background: none repeat scroll 0 0 #ff464e;
          border-radius: 15px;
          color: #fff;
          display: inline;
          font-family: "宋体";
          height: 18px;
          line-height: 18px;
          margin: 3px 0 0 5px;
          text-align: center;
          width: 18px;
          float: right; }
    .header .header-ul .mycar:hover {
      background: #fff;
      border: 1px solid #ccc; }

.header_search {
  width: 100%;
  height: 126px;
  background-color: #fff; }
  .header_search #search_top {
    width: 100%;
    height: 86px;
    position: relative; }
    .header_search #search_top .search_top_1 {
      width: 800px;
      height: 86px;
      background: url(../img/Logo/head.png);
      float: left;
      margin-left: 108px; }
    .header_search #search_top .search_top_2 {
      width: 237px;
      height: 35px;
      float: left;
      position: absolute;
      top: 25px;
      right: 120px; }
      .header_search #search_top .search_top_2 span {
        display: block;
        width: 200px;
        height: 35px;
        background: #efefef;
        float: left; }
        .header_search #search_top .search_top_2 span input {
          border: 0 none;
          outline: 0 none;
          background: #efefef;
          width: 190px;
          height: 30px;
          line-height: 30px;
          margin: 2px 0 0 10px;
          color: #424251;
          font-size: 12px; }
      .header_search #search_top .search_top_2 input {
        background-position: right -65px;
        border: 0 none;
        cursor: pointer;
        height: 35px;
        width: 37px;
        float: right;
        background: url(../img/instrument/search.png); }
  .header_search #search_bottom {
    width: 100%;
    height: 38px;
    border-bottom: 2px solid #ff464e; }
    .header_search #search_bottom .search_bottom_1 {
      float: left;
      display: inline;
      margin-left: 115px; }
      .header_search #search_bottom .search_bottom_1 li {
        float: left;
        display: inline;
        height: 38px;
        position: relative;
        z-index: 11; }
        .header_search #search_bottom .search_bottom_1 li a {
          float: left;
          cursor: pointer;
          padding: 10px 24px 0;
          color: #333;
          font-size: 14px;
          height: 30px; }
        .header_search #search_bottom .search_bottom_1 li a:hover {
          color: #fff; }
      .header_search #search_bottom .search_bottom_1 li:hover {
        background: #ff464e;
        border-radius: 6px 6px 0 0; }

.choice {
  width: 1420px;
  height: 20px;
  padding: 15px 0;
  text-align: center; }
  .choice ul {
    margin: 0 110px; }
    .choice ul li {
      float: left;
      margin-right: 18px;
      font-size: 14px;
      color: #666; }
  .choice li:hover a {
    color: red; }

.main {
  margin-top: 30px;
  background: #fff;
  height: 1600px; }
  .main #main_main {
    padding-left: 9px; }
    .main #main_main li {
      width: 232px;
      float: left;
      background: #fff;
      margin: 0 6px 12px 0;
      height: 290px;
      box-sizing: border-box;
      padding-top: 6px; }
      .main #main_main li .main_dv1 {
        width: 220px;
        height: 220px;
        padding-left: 5px; }
      .main #main_main li .main_dv2 {
        width: 232px;
        height: 32px; }
        .main #main_main li .main_dv2 .main_dv2_span1 {
          color: #ff464e;
          font-family: Arial;
          font-size: 18px; }
        .main #main_main li .main_dv2 .main_dv2_span2 {
          margin: 2px 0 0 2px;
          color: #666;
          font-size: 14px;
          text-decoration: line-through; }
      .main #main_main li h3 {
        width: 220px;
        height: 18px;
        padding: 0 10px 0 10px;
        color: #333;
        margin: 0 0 10px 0;
        font-size: 12px; }
    .main #main_main li:hover {
      border: 1px solid #A3A9B7; }

.page {
  padding: 0 0 40px;
  padding-top: 30px;
  clear: both;
  overflow: hidden;
  text-align: center;
  width: 1200px; }
  .page span {
    background: #ff464e;
    border: medium none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px; }
  .page a {
    border: medium none;
    background: none repeat scroll 0 0 #FFF;
    margin-left: 1px;
    padding: 10px 15px;
    overflow: hidden;
    color: #919191;
    font-size: 14px;
    font-weight: bold;
    border-right: none;
    box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.7); }
  .page .pg-prev {
    color: #bbb;
    font-weight: normal;
    background: #fff;
    width: 60px;
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.7);
    padding: 10px 15px; }
  .page .pg-next {
    width: 60px;
    border-radius: 0 20px 20px 0;
    box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.7); }
  .page a:hover {
    color: #fff;
    background: #ff464e; }

.foot {
  height: 390px;
  margin: 0 auto;
  margin-top: 40px;
  background: #f9f9f9;
  border-top: #ff464e solid 4px; }
  .foot #foot_main {
    width: 1100px;
    height: 100%;
    padding: 0 50px;
    padding-bottom: 30px;
    color: #666;
    margin: 0 auto; }
    .foot #foot_main .foot_main_ul {
      padding-top: 25px;
      margin: 0 auto;
      height: 161px;
      width: 100%; }
      .foot #foot_main .foot_main_ul li {
        height: 140px;
        width: 183px;
        float: left; }
        .foot #foot_main .foot_main_ul li h3 {
          margin: 0px;
          margin-bottom: 5px; }
        .foot #foot_main .foot_main_ul li li {
          height: 30px;
          width: 183px;
          float: left;
          font-size: 14px; }
    .foot #foot_main .foot_main_dv1 {
      height: 20px;
      overflow: hidden;
      padding: 10px 0px;
      border-bottom: 1px dotted #ccc;
      color: #999999;
      white-space: nowrap;
      overflow: hidden;
      margin: 0 auto; }
      .foot #foot_main .foot_main_dv1 .foot_main_dv1_span1 {
        float: left;
        font-size: 13px; }
      .foot #foot_main .foot_main_dv1 .foot_main_dv1_span2 {
        float: right;
        font-size: 13px; }
      .foot #foot_main .foot_main_dv1 ul li {
        float: left;
        margin: 0px 15px;
        font-size: 12px; }
    .foot #foot_main .foot_main_p1 {
      text-align: center;
      padding-top: 20px;
      color: #c6c6c6;
      font-size: 12px; }
    .foot #foot_main .foot_main_p2 {
      text-align: center;
      color: #c6c6c6;
      font-size: 12px; }
    .foot #foot_main .foot_main_dv2 {
      height: 61.5px;
      color: #999999;
      text-align: center;
      padding-top: 10px; }
      .foot #foot_main .foot_main_dv2 a {
        margin: 0 10px; }

.car {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 36px;
  z-index: 102;
  background-color: #444; }
  .car .normal-icon {
    display: block;
    background: url(../img/instrument/sidebar.png) no-repeat; }
  .car .normal {
    margin-top: 30px;
    position: relative; }
  .car .car_top {
    top: 60px;
    position: absolute;
    width: 100%;
    height: 275px; }
    .car .car_top li:hover {
      background: red; }
    .car .car_top .li1 a {
      padding-top: 4px; }
    .car .car_top .li1 .i-user {
      background-position: 0 0;
      width: 18px;
      height: 18px;
      margin-left: 9px; }
    .car .car_top .li1:hover i {
      background-position: -26px 0; }
    .car .car_top .li2 {
      margin-top: 15px;
      position: relative;
      border-top: #222 solid 1px;
      border-bottom: #222 solid 1px;
      padding: 10px 0; }
      .car .car_top .li2 a {
        text-decoration: none;
        color: #000; }
      .car .car_top .li2 .i-cart {
        height: 77px;
        width: 18px;
        background-position: 1px -24px;
        margin: 0 0 0 9px; }
      .car .car_top .li2 .num {
        background: #ff464e;
        border-radius: 15px;
        color: #fff;
        display: block;
        font-family: "宋体";
        height: 18px;
        line-height: 18px;
        width: 18px;
        text-align: center;
        margin: 5px 0 0 9px; }
    .car .car_top .li2:hover i {
      background-position: -26px -24px; }
    .car .car_top .li2:hover .num {
      color: red;
      background-color: #fff; }
    .car .car_top .li3 .i-love {
      width: 18px;
      height: 18px;
      background-position: 0 -110px;
      margin: 0 0 0 9px; }
    .car .car_top .li3:hover i {
      background-position: -26px -110px; }
    .car .car_top .li4 .i-quan {
      width: 18px;
      height: 18px;
      background-position: 0 -134px;
      margin: 0 0 0 9px; }
    .car .car_top .li4:hover i {
      background-position: -26px -134px; }
  .car .car_bottom {
    width: 36px;
    height: 153px;
    position: absolute;
    bottom: 0;
    top: auto; }
    .car .car_bottom li:hover {
      background: red; }
    .car .car_bottom .bottom1 .i-complain {
      width: 18px;
      height: 18px;
      background-position: 0 -208px;
      margin: 0 0 0 9px; }
    .car .car_bottom .bottom1:hover i {
      background-position: -26px -208px; }
    .car .car_bottom .bottom2 .i-code {
      width: 18px;
      height: 18px;
      background-position: 0 -160px;
      margin: 0 0 0 9px; }
    .car .car_bottom .bottom2:hover i {
      background-position: -26px -160px; }
    .car .car_bottom .bottom3 .i-backtop {
      width: 18px;
      height: 18px;
      background-position: 0 -187px;
      margin: 0 0 0 9px; }
    .car .car_bottom .bottom3:hover i {
      background-position: -26px -187px; }
